<!DOCTYPE html>
<html lang="en">

<%- include('../template/head.ejs',{title:'Index'})%>

  <body>
    <%- include('../template/header.ejs') %>
      <div class="wrapper">
        <div>
          <h1>DONUTS WORLD!</h1>
          <h3>LET'S HAVE SOME FUN.</h3>
        </div>

      </div>
      <canvas></canvas>
      <%- include('../template/footer.ejs') %>
  </body>

</html>